**Nombre y Apellido:** Manuel Longo Elia

**Padron:** 102425

Considerando esta red que representa las conexiones de diferentes países por los vuelos (directos) realizados entre ellos, responder las siguientes preguntas

In [70]:
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
import matplotlib.colors as colors
from collections import defaultdict
import numpy as np
import random

Impresion del csv. Donde se ven los aeropuertos de origen y destino de cada vuelo.

In [71]:
world = pd.read_csv("World.csv")

In [72]:
world = world.drop(['ConexionAeropuertos'], axis=1)
world

                Origen          Destino
0     Papua New Guinea        Australia
1     Papua New Guinea      Philippines
2     Papua New Guinea        Indonesia
3     Papua New Guinea  Solomon Islands
4     Papua New Guinea        Hong Kong
...                ...              ...
2847         Lithuania          Georgia
2848           Armenia          Georgia
2849           Eritrea            Yemen
2850             Yemen         Djibouti
2851   Solomon Islands            Nauru

[2852 rows x 2 columns]

Impresion del .csv Donde se ven los datos de todos los paises del mundo.

*Ejercicio 1*

Determinar:

a. El diámetro de la red.

b. El grado promedio de la red.

c. El coeficiente de clustering promedio de la red.

In [73]:
## Genero el grafo que va a representar la red. ##
grafo = nx.from_pandas_edgelist(world, 'Origen', 'Destino')

In [74]:
### Ejercicio 1A: Determinacion del diametro de la red ###

## El diametro de una red se puede definir como largo máximo de todos los caminos mínimos ##

print("El diametro de la red es", nx.diameter(grafo))

El diametro de la red es 5

In [75]:
### Ejercicio 1B: Determinacion del grado promedio de la red ###

"""
algoritmo sacado de:
https://github.com/mbuchwald
"""

def grado_promedio(grafo):    
    total = 0
    for v in grafo:
        total += len(list(grafo.neighbors(v)))
    return total / len(grafo)

print("El grado promedio de la red es", round(grado_promedio(grafo), 2))

El grado promedio de la red es 24.91

In [76]:
### Ejercicio 1B: Determinacion del coeficiente de clustering promedio de la red. ###

## Que se define en promedio como La probabilidad de que dos vértices adyacentes 
## del grafo sean adyacentes entre sí. 

valores_clustering = nx.clustering(grafo).values()
coef_clustering_promedio = np.array(list(valores_clustering)).mean()
print("El coeficiente de clustering promedio de la red es", round(coef_clustering_promedio, 2))

El coeficiente de clustering promedio de la red es 0.66

*Ejercicio 2*

Indicar si existe algún tipo de Homofilia y qué tipo de homofilia es. Si no hay homofilia por ningún criterio, explicar.
Justificar detalladamente.

Primero, vamos a modificar el dataframe para buscar la homofilia por zona geografica.

In [77]:
COTW = pd.read_csv("CountriesOfTheWorld.csv")
COTW

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,West Bank,NEAR EAST,2460492,5860,"419,9","0,00","2,98","19,62",800.0,NaN,"145,2","16,9","18,97","64,13",3,"31,67","3,92","0,09","0,28","0,63"
223,Western Sahara,NORTHERN AFRICA,273008,266000,"1,0","0,42",NaN,NaN,NaN,NaN,NaN,"0,02",0,"99,98",1,NaN,NaN,NaN,NaN,"0,4"
224,Yemen,NEAR EAST,21456188,527970,"40,6","0,36",0,"61,5",800.0,"50,2","37,2","2,78","0,24","96,98",1,"42,89","8,3","0,135","0,472","0,393"
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,"15,3","0,00",0,"88,29",800.0,"80,6","8,2","7,08","0,03","92,9",2,41,"19,93","0,22","0,29","0,489"
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,"31,3","0,00",0,"67,69",1900.0,"90,7","26,8","8,32","0,34","91,34",2,"28,01","21,84","0,179","0,243","0,579"

In [78]:
COTW_new = COTW.iloc[:,[0,1]]
COTW_new = COTW_new.rename(columns={'Country': 'Origen'})

array_world = world.to_numpy()

for i in range(0, len(array_world)):
    array_world[i][0] = array_world[i][0] + ' '
    array_world[i][1] = array_world[i][1] + ' '

new_world = pd.DataFrame(array_world, columns = ["Origen", "Destino"])

merged = new_world.merge(COTW_new, left_on='Origen', right_on='Origen', how='outer')
merged = merged.dropna()
merged

                 Origen           Destino                               Region
0     Papua New Guinea         Australia   OCEANIA
1     Papua New Guinea       Philippines   OCEANIA
2     Papua New Guinea         Indonesia   OCEANIA
3     Papua New Guinea   Solomon Islands   OCEANIA
4     Papua New Guinea         Hong Kong   OCEANIA
...                 ...               ...                                  ...
2847         Lithuania           Georgia   BALTICS
2848           Armenia           Georgia                  C.W. OF IND. STATES
2849           Eritrea             Yemen   SUB-SAHARAN AFRICA
2850             Yemen          Djibouti   NEAR EAST
2851   Solomon Islands             Nauru   OCEANIA

[2740 rows x 3 columns]

In [79]:
grafo_mergeado = nx.from_pandas_edgelist(merged, 'Origen', 'Destino')

columna_region_origen = merged['Region']

print('Las regiones de origen y su cantidad son: ')
columna_region_origen.to_frame(name='Region').value_counts()

Las regiones de origen y su cantidad son:

Region
WESTERN EUROPE                         915
SUB-SAHARAN AFRICA                     458
NEAR EAST                              293
LATIN AMER. & CARIB                    248
ASIA (EX. NEAR EAST)                   218
EASTERN EUROPE                         182
NORTHERN AFRICA                        137
OCEANIA                                 96
C.W. OF IND. STATES                     95
NORTHERN AMERICA                        75
BALTICS                                 23
dtype: int64

In [80]:
merged_vectorizado = merged.to_numpy()

mapper = {}
for i in range(len(merged_vectorizado)):
    mapper[merged_vectorizado[i][0]] = merged_vectorizado[i][2]  
    
def mapper_func(k):
    try:
        return mapper[k]
    except:
        'None'

In [81]:
def contar_aristas(grafo):
    contador = 0
    for v in grafo:
        contador += len(list(grafo.neighbors(v)))
    return contador if nx.is_directed(grafo) else contador // 2

def proporcion_cruzan_campo(grafo, mapper=None):
    """
    algoritmo sacado de https://github.com/mbuchwald
    """
    aristas_totales = contar_aristas(grafo)
    cruzan_bloque = 0
    visitados = set()
    mapper = mapper if mapper is not None else (lambda k: grafo[k]["type"])

    for v in grafo:
        for w in grafo.neighbors(v):
            if not nx.is_directed(grafo) and w in visitados:
                continue
            if mapper(v) != mapper(w):
                cruzan_bloque += 1
        visitados.add(v)
    return cruzan_bloque / aristas_totales

proporcion_real = round(proporcion_cruzan_campo(grafo_mergeado, mapper_func), 2)

# Aca calcule la 'proporcion de cruce de campo', que es la homofilia global real, ya que es la
# proporcion de aristas que cruzan grupos sobre el total de aristas disponibles

In [82]:
def proporcion_por_tipo(grafo, mapper=None):
    """
    algoritmo sacado de https://github.com/mbuchwald
    """
    mapper = mapper if mapper is not None else (lambda k: grafo[k]["type"])
    cantidades = {}
    for v in grafo:
        cantidades[mapper(v)] = cantidades.get(mapper(v), 0) + 1
    props = {}
    for c in cantidades:
        props[c] = cantidades[c] / len(grafo)
    return props

proporciones = proporcion_por_tipo(grafo_mergeado, mapper_func)

proporcion_teorica = 0

for clave, valor in proporciones.items(): 
    proporcion_teorica = proporcion_teorica + (proporciones[clave] * (1 - proporciones[clave]))
    
# Aca calcule la homofilia global teorica, que es la sumatoria de todas
# las probabilidades de agarrar un nodo y que pertenezca a un cierto grupo

In [83]:
proporcion_real_vs_teorico = round(proporcion_real * 100 / proporcion_teorica, 2)

In [84]:
def proporcion_cruzan_campo_de_tipo(grafo, tipo, mapper=None):
    """
    algoritmo sacado de https://github.com/mbuchwald
    """
    cruzan_bloque = 0
    visitados = set()
    aristas = 0
    mapper = mapper if mapper is not None else (lambda k: grafo[k]["type"])

    for v in grafo:
        if mapper(v) != tipo:
            continue
        for w in grafo.neighbors(v):
            aristas += 1
            if mapper(v) != mapper(w):
                cruzan_bloque += 1
        visitados.add(v)
    return cruzan_bloque / aristas

proporciones_cruce_campo = {}

for clave, valor in proporciones.items(): 
    if clave != None:
        proporciones_cruce_campo[clave] = round(proporcion_cruzan_campo_de_tipo(grafo_mergeado, \
                                                                                clave, mapper_func),2)

Ahora, ya que se calcularon todos los valores los mostrare aqui abajo

In [85]:
print("Homofilia global real:", proporcion_real)
print("Homofilia global teorica:", round(proporcion_teorica,2))
print("Proporcion de homofilia real vs teorica", proporcion_real_vs_teorico)
print("---------------------------------------------")
print("Homofilia por grupos:")

for clave, valor in proporciones_cruce_campo.items(): 
    print(valor, '-', clave)

Homofilia global real: 0.67
Homofilia global teorica: 0.88
Proporcion de homofilia real vs teorica 76.35
---------------------------------------------
Homofilia por grupos:
0.55 - OCEANIA
0.56 - ASIA (EX. NEAR EAST)
0.99 - NORTHERN AMERICA
0.72 - WESTERN EUROPE
0.79 - EASTERN EUROPE
0.93 - BALTICS
0.8 - NEAR EAST
0.38 - LATIN AMER. & CARIB
0.9 - NORTHERN AFRICA
0.46 - SUB-SAHARAN AFRICA
0.8 - C.W. OF IND. STATES

Estos resultados pueden interpretarse de muchas formas distintas. Por ejemplo que tiene mucho sentido que haya poca homofilia en el norte de america, primero y principal porque los paises de esa region son dos (Canada y Estados Unidos) y solo habria homofilia en los vuelos internos. Aparte al ser paises muy desarrollados y con lugares geograficos estrategicos (punto entre el pacifico y el atlantico) es muy comun que haya escalas en esos lugares y que permitan conexiones con paises de otras partes del globo, rompiendo asi la homofilia. Tambien tiene mucho sentido que exista bastante homofilia en el africa subsahariana y latinoamerica, ya que son zonas no tan desarrolladas (en algunos casos de paises) y no tiene lugares geograficos estrategicos, realizandose asi vuelos mas que nada zonales y muy pocos de larga distancia. Los paises de ocenia tambien podrian ser otro caso claro de homofilia por su lejania a los demas paises del globo. 
Luego en la comparacion de la homofilia real con la teorica, se obtiene que la cercania entre la teorica y la real es mayor al 75%, lo cual a mi criterio es un buen valor y da a entender que los calculos han sido realizados de una manera correcta.

*Ejercicio 3*

Determinar los puentes (globales o locales) en dicha red.

In [105]:
puentes = nx.local_bridges(grafo)

list(puentes)

[('Papua New Guinea', 'Micronesia', 3),
 ('Fiji', 'Tuvalu', inf),
 ('Micronesia', 'Marshall Islands', 3),
 ('United States', 'American Samoa', inf),
 ('United Kingdom', 'Saint Helena', inf),
 ('Canada', 'Saint Pierre and Miquelon', inf),
 ('Antigua and Barbuda', 'Montserrat', inf),
 ('New Zealand', 'Niue', inf),
 ('South Africa', 'Lesotho', inf),
 ('South Africa', 'Swaziland', inf),
 ('Burma', 'Myanmar', inf)]

Los puentes son los que estan impresos arriba. Se puede ver vectores de 3 elementos siendo los primeros dos los nodos que el puente conecta y luego la longitud del camino que los une si este es removido. Los que tienen longitud 'inf' significa que tienen longitud infinita, quiere decir que no se puede llegar de el primer nodo al segundo quitando esa arista, lo cual es la caracteristica de los puentes globales. Dejando el grafo de manera inconexa. Luego, vemos que hay dos que tienen distancia tres, esos puentes se los puede determinar como puentes locales, ya que el grafo sigue siendo conexo y hay un camino alternativo que une los nodos.